@use 'variables' as v;

// Place outside of .wp-block-songwriter-tools-upload-song to avoid specificity issues
.song-upload-form {
	display: flex;
	flex-wrap: wrap;
	gap: v.$songwriter-tools-large-spacing;

	&__column {
		flex: 1 1 48%; // Two columns taking 48% of the width, with space for gap
		display: flex;
		flex-direction: column;
	}

	&__label {
		margin-bottom: v.$songwriter-tools-small-spacing;
		font-style: italic;
		font-size: .85rem;
	}

	&__label-content {
		font-weight: bold;
	}

	&__input {
		border: 1px solid var(--wp--preset--color--primary, v.$translucent-fallback-color);
		border-radius: 4px;
	}

	&__input[type="file"] {
		width: 100%; // Trick to help label text wrap on small devices
	}
	
	&__input[type="text"] {
		padding: v.$songwriter-tools-small-spacing;
	}

	&__label[for="song-title"] {
		padding-left: v.$songwriter-tools-small-spacing;
	}
}