@use 'variables' as v;

.song-upload-form {
	&__input {
		border: 1px solid var(--wp--preset--color--primary, v.$translucent-fallback-color);
		border-radius: 4px;
		outline: none; /* Remove the default outline */
	}

	&__input-text {
		border-color: #ccc;
	}
}