@use 'variables' as v;

.song-upload-form {
    input,
	textarea,
	select {
		outline: none; /* Remove the default outline */
	}

	input:focus,
	input[type="text"]:focus,
	textarea:focus,
	select:focus {
		border-color: var(--wp--preset--color--primary, v.$translucent-fallback-color); /* Use WordPress primary color for the border */
		box-shadow: none;
	}

	&__input--file {
		border: none;
	}
}