@use 'variables' as v;

// Place outside of .wp-block-songwriter-tools-upload-song to avoid specificity issues
.song-upload-form {
	display: flex;
	flex-wrap: wrap;
	gap: v.$songwriter-tools-large-spacing;

	&__column {
		flex: 1 1 48%; // Two columns taking 48% of the width, with space for gap
		display: flex;
		flex-direction: column;
	}

	&__input-text {
		padding: v.$songwriter-tools-small-spacing;
	}

	&__input-file {
		width: 100%; // Trick to help label text wrap on small devices
	}

}

.wp-block-songwriter-tools-upload-song {
	.wp-block-status-message {
		text-align: center;
	}
}