// Spacing
$songwriter-tools-small-spacing: 0.5rem;
$songwriter-tools-medium-spacing: 1rem;
$songwriter-tools-large-spacing: 1.5rem;

// Colors
$songwriter-tools-translucent-fallback-color: rgba(255, 255, 255, 0);
$songwriter-tools-grey: #ccc;

// Font weights
$songwriter-tools-light: 300;
$songwriter-tools-bold: 500;