/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 /**
  * Keeping everything in the editor.scss file for now
  *
  * If this gets big enough to break out we should rethink
  * our styling strategy. Only editor specific styling should
  * be here.
  */
  @use 'scss/variables' as v;

.wp-block-songwriter-tools-upload-song {
	.song-upload-form {
		&__input {
			border: none;
		}
	
		&__input-text {
			padding: 0;
			.components-text-control__input[type="text"] {	
				padding: 0.5rem;
				border: 0;
			}
		}
	}

	// Outside of the form
	.components-notice {
		margin: .6rem 0;
	}
}