@use '../variables' as v;

@mixin input-styles {
	border: 1px solid var(--wp--preset--color--primary, v.$songwriter-tools-grey);
	border-radius: v.$songwriter-tools-border-radius;
	outline: none;
}

@mixin file-input-styles {
	border-color: v.$songwriter-tools-translucent-fallback-color;
}
