@use '../variables' as v;

@mixin input-styles {
	border: none; // Sometimes a WP theme will use an odd color for the border, so we'll just remove it.
	border-radius: v.$songwriter-tools-border-radius;
	outline: none;
}

@mixin file-input-styles {
	border-color: v.$songwriter-tools-translucent-fallback-color;
}
