@use '../variables' as v;

@mixin label-styles {
    margin-bottom: v.$songwriter-tools-small-spacing;
    font-style: italic;
    // font-size: .85rem;
}

@mixin label-content-styles {
    font-weight: 300;
}
