/**
 * Gutenberg align text setting
 */

@use '../variables' as v;

.has-text-align-center {
    .song-upload-form {
        &__input-file-button,
        &__submit-button-container {
            justify-content: center;
        }

        &__input-text,
        &__label {
            text-align: center;
            margin: v.$songwriter-tools-small-spacing auto;
        }

        &__label {
            align-items: center;
        }
    }
}

.has-text-align-right {
    .song-upload-form {
        &__input-file-button,
        &__submit-button-container {
            justify-content: flex-end;
        }

        &__input-text,
        &__label {
            text-align: right;
            margin: v.$songwriter-tools-small-spacing 0 0 auto;
        }

        &__label {
            align-items: flex-end;
        }
    }
}